# ──────────────────────────────────────────────────────
# 프로젝트 공통
HELP.md

# ─ Java/Gradle
/.gradle/
/build/
/out/
/logs/
/*.log
*.class

# Gradle Wrapper
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar

# ─ 소스별 빌드 산출물
# (src 아래 build/ 또는 bin/, out/ 디렉터리 제외)
/**/src/**/build/
/**/src/**/bin/
/**/src/**/out/

# ─ IDE
## STS (Spring Tool Suite)
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings/
/.springBeans
/.sts4-cache

## IntelliJ IDEA
/.idea/
/*.iws
/*.iml
/*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
/.vscode/

# ─ OS 별
.DS_Store
Thumbs.db

# ─ 기타
.env            # 환경 변수 파일
node_modules/   # 프론트엔드 파일들
